/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* roboto-regular - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-900 - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
  }
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 70px;
}
/* .header-left-link {

}
.header-img {
}
.header-nav {
} */
.header-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
}
.header-list-item:nth-child(1){
    margin-left: 0;
}
.header-nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
}
.nav-link-2{
    padding-bottom: 13px;
    border-bottom: 3px solid #717CFF;
}
.header-right-link {
    text-decoration: none;
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 33px;
    padding-right: 33px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #505050;
}
.section-top {
    padding-top: 70px;
}
.section-top-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.section-top-parent::after{
    content: "";
    width: 578px;
    height: 564px;
    background-image: url("../photos/girl-background.jpg");
    background-repeat: no-repeat;
}
.top-parent-child {
    width: 632px;
}
.section-top-heading {
    font-weight: 900;
    font-size: 56px;
    color: #2F2F2F;
}
.section-top-span{
    color:#717CFF;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
}
.section-top-text{
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}
.section-top-second {
    padding: 20px 32px 20px 34px;
    background: #717CFF;
    border-radius: 11px;
}
.second-link{
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 34px;
}
.second-link::after{
    display: inline-block;
    width: 22px;
    height: 20px;
    content: "";
    margin-left: 35px;
    background-image: url("../photos/next.svg");
}
.second-img {
    margin-bottom: -7px;
}
.section-top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 106px;
    list-style: none;
}
.section-top-item {
    margin-left: 27px;
}
.section-top-item:nth-child(1){
    margin-left: 0;
}
/* .top-item-link {
}
.app-logo {
}
.section-top-img {
} */
.second-section {
    padding-top: 55px;
    padding-bottom: 57px;
    background: #FAFAFA;
}
.second-section-text {
    margin-bottom: 94px;
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
}
.second-section-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    padding-left: 0px;
}
/* .second-list-item {
} */
.second-section-link {
    text-decoration: none;
}
/* .second-section-img {

} */
.second-section-cattalog {
    margin: 0px;
    margin-top: 83px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* .cattalog-item {
} */
.cattalog-box {
    width: 10px;
    height: 10px;
    margin-left: 20px;
    background: #7c7c7c;
    border-radius: 50px;
    display: block;
}
.cattalog-case {
    margin-left: 0px;
    width: 14px;
    height: 14px;
    background: #717CFF;
    border-radius: 50px;
}
.section-catalog {
    padding-bottom: 120px;   
}
.universy-heading {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.university-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 80px;
    padding-right: 90px;
    margin-bottom: 100px;
}
.universy-text {
   
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}
.universy-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.universy-list-item {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    width: 344px;
    margin-right: 47px;
    margin-bottom: 50px;
    padding: 30px 17px 34px 31px;
    width: 344px;
}
.universy-list-item:nth-child(1):before{
    display: block;
    content: "";
    width: 76px;
    height: 76px;
    background-image: url("../photos/circle.svg");
}
.universy-list-item:nth-child(2):before{
    display: block;
    content: "";
    width: 76px;
    height: 76px;
    background-image: url("../photos/note.svg");
}
.universy-list-item:nth-child(3):before{
    display: block;
    content: "";
    width: 76px;
    height: 76px;
    background-image: url("../photos/fail-logo.svg");
}
.universy-list-item:nth-child(4):before{
    display: block;
    content: "";
    width: 76px;
    height: 76px;
    background-image: url("../photos/home.svg");
}
.universy-list-item:nth-child(5):before{
    display: block;
    content: "";
    width: 76px;
    height: 76px;
    background-image: url("../photos/airplane.svg");
}
/* .universy-logo {
} */
.universy-info-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}
.universy-info-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: rgba(55, 71, 79, 0.721569);
}
.universy-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.universy-link {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    text-decoration: none;
    margin-right: 20px;
}
.universy-link::after{
    display: inline-block;
    content: "";
    width: 24.58px;
    height: 20.18px;
    background-image: url("../photos/next.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 2px) calc(50% + 2px);
}
/* .universy-next {
} */
.section-mini {
    background: #FAFAFA;
    padding-bottom: 135px;
    padding-top: 100px;
}
.section-mini-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.mini-box {
    margin-bottom: 120px;
}
.mini-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    padding-left: 90px;
    padding-right: 90px;
}
.mini-list {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin-bottom: 100px;
}
.mini-item {
    margin-right: 45px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
            box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
    padding-bottom: 62px;
    padding-top: 252px;
    background-image: url("../photos/Rectangle.jpg");
    background-repeat: no-repeat;
    width: 344px;
}
.mini-item:nth-child(1){
    background-image: url("../photos/Rectangle.jpg");
    background-repeat: no-repeat;
}
.mini-item:nth-child(2){
    background-image: url("../photos/human.jpg");
    background-repeat: no-repeat;
}
.mini-item:nth-child(3){
    background-image: url("../photos/Child.jpg");
    background-repeat: no-repeat;
}
.mini-page{
    padding-bottom: 36px;
}
/* .mini-link {
}
.mini-link-img {
} */
.time-box {
    margin-left: 26px;
}
.time-box::before{
    display: inline-block;
    content: "";
    background-image: url("../photos/Calendar-logo.svg");
    width: 15px;
    height: 15px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.mini-item-heading{
    margin-left: 26px;
    margin-right: 26px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
}
/* .time-img {
} */
.mini {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #717CFF;
    border-radius: 11px;
    width: 225px;
    margin-left: auto;
    margin-right: auto;

    padding: 12px 33px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
}
.mini::after{
    content: "";
    background-image: url("../photos/next.svg");
    width: 25px;
    height: 22px;
    background-repeat: no-repeat;
    margin-left: 20px;
}
.mini-img {
    text-decoration: none;
}
.mini-box-img{
    padding-left: 20px;
}
.next-sextion {
    padding-bottom: 135px;
    padding-top: 80px;
}
.next-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.next-text {
    margin-left: 98px;
    margin-right: 80px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}
.next-list {
    margin: 0px;
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
}
.next-item {
    width: 540px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-right: 48px;
    padding: 29px 28px 31px 31px;
}
.next-item::before{
}
.next-item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.next-item-box::before{
    display: inline-block;
    width: 100px;
    height: 76px;
    background-image: url(../photos/17.svg);
    background-repeat: no-repeat;
    content: "";
    margin-right: 20px;
}
/* 
.next-item:nth-child(1){
    position: relative;
} */

/* .next-item-box::before:nth-child(1){
    width: 76px;
    height: 76px;
    content: "jhhi";
    background-image: url("../photos/17.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
} */
.item-img {
    margin-right: 20px;
}
.item-box-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}
.item-box-heading:nth-child(1){

}
.next-item-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.next-item-text {
    margin-bottom: 0px;
    margin-top: 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: hsla(200, 18%, 26%, 0.722);
}
.next-time {
    margin-top: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.next-time-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.next-time-child-1::before{
    width: 22px;
    height: 20px;
    margin-right: 10px;
    content: "";
    background-image: url("../photos/time.svg");
}
.universy-link {
    margin-right: 0px;
}
.universy-next {
    margin-left: 20px;
}
.next-time-child-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.time-logo {
    margin-right: 5px;
}
.section-country {
    padding-top: 80px;
    padding-bottom: 130px;
    background: #FAFAFA;
}
.country-heading {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.country-text {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}
.country-list {
    margin: 0px;
    margin-top: 77px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
}
.country-item {
    margin-right: 46px;
    padding-top: 250px;
    background-repeat: no-repeat;
}
.country-item:nth-child(1){
    background-image: url("../photos/building.jpg");
}
.country-item:nth-child(2){
    background-image: url("../photos/tower.jpg");
}
.country-item:nth-child(3){
    background-image: url("../photos/monument.jpg");
}
.country-img {
    margin-bottom: 27px;
    border-radius: 30px;
}
.country-item-heading {
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
    margin-bottom: 10px;
    margin-top: 0px;
}
.country-item-text {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #37474fb8;
}
.section-test {
    padding-top: 115px;
    padding-bottom: 100px;
}
.test-heading {
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}
.test-text {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 100px;
}
.test-list {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.test-item {
    padding: 39px 34px 46px 34px;
    margin-right: 60px;    
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
    list-style: none;
}
.item-2{
    margin-right: 0px;
}
.test-item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.test-item-boxing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.test-item-case {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
} 
.test-item-box::before{
    width: 62px;
    height: 62px;
    content: "";
    background-image: url("../photos/Girl.png");
    margin-right: 28px;
}
.test-item-boxing::before{
    width: 62px;
    height: 62px;
    content: "";
    background-image: url("../photos/Boy.jpg");
    margin-right: 28px;
}
.test-item-case::before{
    width: 62px;
    height: 62px;
    content: "";
    background-image: url("../photos/Men.jpg");
    margin-right: 28px;
}
.img-box::before{
}
.test-img {
    margin-right: 28px;
    width: 62px;
    height: 62px;
    background: url(Image.png);
    border-radius: 12px;
}
/* .mini-box-img{
} */
.test-item-heading {
    margin: 0px;
}
.test-item-text {
    margin-top: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    mix-blend-mode: normal;
    opacity: 0.65;
}
.test-list-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: rgba(55, 71, 79, 0.721569);
}
aside{
    background: #FAFAFA;
}
.aside-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 82px;
    padding-bottom: 74px;
}
.aside-heading {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #252525;
}
.aside-img {
    margin-left: 48px;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
}
.aside-mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 11px;
    padding: 12px 33px 12px 33px;
    background-color: #717CFF;
}
.aside-mini::after{
    width: 22px;
    height: 20px;
    content: "";
    margin-left: 48px;
    background-image: url("../photos/next.svg");
}
footer{
    background: #717CFF;
}
.footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 45px;
}
.footer-executive {
    width: 343px;
}
.footer-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;

}
/* .executive {
} */
.footer-text {
    margin-bottom: 58px;
    margin-top: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}
.footer-text-comp {
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}
.footer-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-list {
    margin: 0px;
    padding: 0;
    margin-right: 150px;
    list-style: none;
}
.footer-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
}
.footer-list-two {
    margin: 0px;
    padding: 0;
    margin-right: 100px;
    list-style: none;
}
/* .footer-item-two {
} */
.footer-two-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
    text-decoration: none;
}
.footer-list-three {
    padding-bottom: 64px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-item-three {
    margin-left: 28px;
}
.footer-three-link {
    text-decoration: none;
}
.footer-item-img {
    width: 8,8px;
    height: 16px;
}